<head>
  <!-- Font-->
  <style>@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');</style>

  <!-- Icon-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />

  <!-- App CSS-->
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
</head>

<nav>
  <span class="logo">SuperPOLLs</span>
  <form class="new" method="GET" action="/">
    <button type="submit">
      <b>Create a New Poll</b>
      <i class="fas fa-vote-yea"></i>
    </button>
</form>



</nav>
