<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SuperPOLLs - View Results</title>
</head>
<body>
  <%- include('partials/nav-bar.ejs') %>
  <h2>View Results of your SuperPOLL!</h2>
  

    <!-- buttons for ease of access to administrative page and submission page, delete these later -->
    <br/>
    <form method="GET" action="/"> <!-- Delete Button on same line 'td' as urls -->
      <button type = 'submit'>home</button>
    </form>
    <form method="GET" action="/submission"> <!-- Delete Button on same line 'td' as urls -->
      <button type = 'submit'>submission</button>
    </form>
    <!-- Delete these buttons later -->




</body>
</html>
