<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>SuperPOLLs - View Results</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/body.css" type="text/css" >
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">

</head>

<body>
  <%- include('partials/nav-bar.ejs') %>
  <h2>View Results of your SuperPOLL!</h2>

  <form>
    <div>
      <% for (const rank of ranks) { %>
        <br/>
          <%= rank.optiontitle %>
          <%= rank.sum %>
      <% } %>
    </div>
  </form>

    <!-- buttons for ease of access to administrative page and submission page, delete these later -->
    <br/>
    <form method="GET" action="/"> <!-- Delete Button on same line 'td' as urls -->
      <button type = 'submit'>home</button>
    </form>
    <form method="GET" action="/submission"> <!-- Delete Button on same line 'td' as urls -->
      <button type = 'submit'>submission</button>
    </form>
    <!-- Delete these buttons later -->



    <script src="/routes/administrative.js"></script>
</body>
</html>
