<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SuperPOLLs - Create Your Own Poll!</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/body.css" type="text/css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/add_option.js"></script>
  </head>

  <body>

    <%- include('partials/nav-bar.ejs') %>
    <h2>Create your own SuperPOLL!</h2>
    <form action="/" method="POST" class="poll-creation">

      <div class="poll-name">
        <label for="poll-title">Poll Name:</label>
        <input class="input-fields" type="text" name="poll_title" placeholder="What is your poll about?">
      </div>

      <div id="outer-option-fields">
        <div class="option-fields">
          <label for="options-label">Option 1:</label>
          <div class="options-input">
            <input class="name-field" type="text" name="poll_options" placeholder="name">
            <input class="description-field" type="text" name="option_desc" placeholder="description (optional)">
          </div>
        </div>

        <div class="option-fields">
          <label for="options-label">Option 2:</label>
          <div class="options-input">
            <input class="name-field" type="text" name="poll_options" placeholder="name">
            <input class="description-field" type="text" name="option_desc" placeholder="description (optional)">
          </div>
        </div>
      </div>


      <div id="add-option">
        <button class="buttons" id="add-button" type="button">Add Option...</button>
      </div>

      <div id="email-field">
        <label for="owner_email">Email Address: </label>
        <input class="input-fields" type="email" name="owner_email" placeholder="someone@something.com">
      </div>

      <div id="submit-container">
        <button class="buttons" id="submit-button" type="submit">Submit</button>
      </div>

      </form>

    <!-- buttons for ease of access to administrative page and submission page, delete these later -->
    <br/>
    <div class="temp-buttons">
      <form method="GET" action="/administrative/123"> <!-- Delete Button on same line 'td' as urls -->
        <button type = 'submit'>administrative</button>
      </form>
      <form method="GET" action="/submission"> <!-- Delete Button on same line 'td' as urls -->
        <button type = 'submit'>submission</button>
      </form>
    </div>
    <!-- Delete these buttons later -->


    <!-- <script src="/routes/index.js"></script> -->
  </body>
</html>
