<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>SuperPOLLs - Vote on a Poll</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/body.css" type="text/css" >
  <link rel="stylesheet" href="/styles/submission-body.css" type="text/css" >
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->

  <script type="text/javascript" src="/scripts/submission_ordering.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
  <%- include('partials/nav-bar.ejs') %>
  <header>Vote on a SuperPOLL!</header>
  
  <form class="submission-form">
    <span class="poll-title">
      <b><%= poll_title %></b>
    </span>
    <div id="choices">
      <% for (const option of options) { %>
        <div class="option">
          <%= option.optiontitle %>
          <%= option.optiondesc %>
        </div>
      <% } %>
    </div>

      <div id="username-input">
        <label id="username-label" for="username">Please provide your name: </label>
        <input class="input-fields" type="text" name="username" placeholder="name">
      </div>

      <div id="submit-container">
        <button class="buttons" id="submit-button" type="submit">Submit votes</button>
      </div>
  </form>


    <!-- buttons for ease of access to administrative page and submission page, delete these later -->
    <br/>
    <div class="temp-buttons">
      <form method="GET" action="/"> <!-- Delete Button on same line 'td' as urls -->
        <button type = 'submit'>home</button>
      </form>
      <form method="GET" action="/administrative/123"> <!-- Delete Button on same line 'td' as urls -->
        <button type = 'submit'>administrative</button>
      </form>
  </div>
    <!-- Delete these buttons later -->


</body>
</html>
