<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>




  Submission
    <!-- buttons for ease of access to administrative page and submission page, delete these later -->
    <br/>
    <form method="GET" action="/"> <!-- Delete Button on same line 'td' as urls -->
      <button type = 'submit'>home</button>
    </form>
    <form method="GET" action="/administrative"> <!-- Delete Button on same line 'td' as urls -->
      <button type = 'submit'>administrative</button>
    </form>
    <!-- Delete these buttons later -->


</body>
</html>
