form {
  display: flex;
}

#poll-winner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#poll-container {
  width: 75%;
  display: inline-flex;
  justify-content: center;

}

#poll-winner {
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;

}

#ranks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
}

strong {
  color: #e3b049;
}
.results-container {
  width: 25%;
  margin-left: 1em;
  padding: 1em;
}

.results {
  display: inline-flex;
  justify-content: space-between;
}

#votes {
  width: 60%;
  margin-bottom: .5em;
  border-bottom: solid;
  padding: .5em;
}
#user-name {
  display: flex;
  flex-direction: row;
  padding: .5em;
}

#user-rank {
  display: flex;
  flex-direction: row;
  border-style: solid black;
  border-bottom: 1px;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: .5em;
}

#user-optiontitle {
  display: flex;
  flex-direction: row;
  padding: .5em;
}
