#poll-name-input {
  width: 75%;
}
#add-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 3em;
}
#add-button {
  border-radius: 10px;
  border-color: white;
  background-color: #e3b049;
}

#email-field {
  width: 100%;
  height: 2em;
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

#submit-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1em;
}

#submit-button {
  border-radius: 10px;
  border-color: white;
  background-color: lightskyblue;
  box-shadow: gray;
}

.poll-creation {
  display: flex;
  width: 75%;
  justify-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0.5em;
}

.poll-name {
  width: 100%;
  height: 2em;
  align-items: baseline;
  margin-bottom: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.option-fields {
  height: 2em;
  align-items: baseline;
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.options-input {
  display: flex;
  width: 85%;
  justify-content: space-between;
}

.input-fields {
  width: 85%;
}

.name-field {
  width: 48%;
}

.description-field {
  width: 48%;
}


.buttons {
  color: white;
  width: 7em;
  height: 2.5em;
}

.buttons:hover {
  color: rgb(113, 238, 124);
  box-shadow: 5px 5px #AEB1CC;
}


.temp-buttons {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
}

body {
  font-family: 'Baloo Chettan 2', Georgia, 'Times New Roman', Times, serif;
  color: rgba(0, 0, 0, 0.76);
}

h2 {
 margin: 1.5em;
 font-size: 2em;
}

label {
  font-size: 1.25em;
}

input {
  height: 2.5em;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e3b049;
  opacity: 75%;
  box-shadow: 2px 2px grey;
  font-size: 1.25em;
  padding: 0.5em;
}

input:hover {
  background-color: #e2c895;
}
