
h2 {
 margin: 1.5em;
}

/* input {
  display: flex;
  justify-content: stretch;
  width: 100;
} */

.poll-creation {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-direction: column;
  margin: 1.5em;
  padding: 0.5em;
}

.poll-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.option-fields {

}

#add-option {

}

button {

}

.temp-buttons {
  display: flex;
  width: 25%;
  /* margin-left: 1.5em; */
  justify-content: space-evenly;
}
