
h2 {
 margin: 1.5em;
}

/* input {
  display: flex;
  justify-content: stretch;
  width: 100;
} */
label {
  /* width: 15%; */
}

input {
  margin-left: 1em;
  width: 75%;
}
.poll-creation {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-direction: column;
  margin: 1.5em;
  padding: 0.5em;
}

.poll-name {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.option-fields {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#add-option {
  margin-bottom: 1em;
}

#email-field {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.temp-buttons {
  display: flex;
  width: 25%;
  /* margin-left: 1.5em; */
  justify-content: space-evenly;
}
