#vote {
  margin: 2em 2em 0 2em;
}

#poll-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}


#selected-title {
  display: flex;
  font-size: 2em;
  border-bottom: solid;
  border-width: 2px;
}

#instrucitons {
  margin-bottom: 4em;
}

#username-label {
  font-size: 1.25em;
}

#username-input {
  width: 100%;
  height: 2em;
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.option {
  margin-bottom: 1.5em;
  height: 2.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e3b049;
  opacity: 75%;
  box-shadow: 2px 2px grey;
  font-size: 1.25em;
}

.option_title {
  margin-left: 2em;
  margin-right: 6em;
}

.option:hover {
  background-color: #e2c895;
}

.input-fields {
  margin-left: 1em;
  width: 60%;
}

.submission-form {
  display: flex;
  width: 75%;
  justify-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0.5em;
}

.buttons {
  margin-top: 1em;
  height: 2.5em;
}

.submission-message {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  font-size: 2em;
}
