/* * * ELEMENTS * * */
/* body {
  font-family: 'Baloo Chettan 2', Georgia, 'Times New Roman', Times, serif;
  color: rgba(0, 0, 0, 0.76);
}

h2 {
 margin: 1.5em;
 font-size: 2em;
} */

.option {
  font-size: 1.25em;
}

/* input {
  height: 2.5em;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e3b049;
  opacity: 75%;
  box-shadow: 2px 2px grey;
  font-size: 1.25em;
}

input:hover {
  background-color: #e2c895;
} */

.input-fields {
  width: 70%;
}

.submission-form {
  display: flex;
  width: 75%;
  justify-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0.5em;
}

#username-label {
  font-size: 1.25em;
}

#username-input {
  width: 100%;
  height: 2em;
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
/*
#submit-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1em;
} */

/* #submit-button {
  border-radius: 10px;
  border-color: white;
  background-color: lightskyblue;
  box-shadow: gray;
} */

.buttons {
  /* color: white;
  width: 7em; */
  height: 2em;
}

/* .buttons:hover {
  color: rgb(113, 238, 124);
  box-shadow: 5px 5px #AEB1CC;
}

.temp-buttons {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
} */
